version: "3.1"

services:
  prometheus:
    build:
      context: .
      dockerfile: dockerfile-prometheus.yml
    ports:
      - "9090:9090"
    configs:
      - source: prometheus_config
        target: /etc/prometheus/prometheus.yml
    networks:
      - my_network

  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    ports:
      - "3001:3000"
    networks:
      - my_network
    depends_on:
      - prometheus

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.16.3
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
    ports:
      - "9200:9200"
    networks:
      - my_network

  kibana:
    image: docker.elastic.co/kibana/kibana:7.16.3
    container_name: kibana
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    networks:
      - my_network

  businessmotorsapi:
    build: .
    container_name: businessmotorsapi
    ports:
      - "8080:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - my_network

  kong-database:
    image: postgres:13
    container_name: kong-database
    environment:
      POSTGRES_USER: kong
      POSTGRES_DB: kong
      POSTGRES_PASSWORD: kong
    networks:
      - my_network

  kong-migrations:
    image: kong:3.7
    command: "kong migrations bootstrap"
    restart: on-failure
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
    depends_on:
      - kong-database
    networks:
      - my_network

  kong:
    image: kong:3.7
    container_name: kong
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001, 0.0.0.0:8444 ssl
    ports:
      - "8000:8000" # proxy
      - "8443:8443" # proxy SSL
      - "8001:8001" # admin API
      - "8444:8444" # admin API SSL
    depends_on:
      - kong-database
      - kong-migrations
    networks:
      - my_network
  
  konga:
    image: pantsel/konga:latest
    container_name: konga
    environment:
      DB_ADAPTER: "postgres"
      DB_HOST: "kong-database"
      DB_PORT: 5432
      DB_USER: "kong"
      DB_PASSWORD: "kong"
      NODE_ENV: "production"
      TOKEN_SECRET: "algumsecreta"
      KONGA_HOOK_TIMEOUT: 60000
    ports:
      - "1337:1337"
    depends_on:
      - kong
      - kong-database
    networks:
      - my_network

configs:
  prometheus_config:
    file: ./prometheus.yml

networks:
  my_network:
    external: true
    driver: bridge